@charset "utf-8";
/* CSS Document */

.small-simple-slider {
	/*border: 1px solid #c0392b;*/
	text-align: center;	
}

/*.small-simple-slider figcaption {
  background-color: #c0392b;
  color: white;
}*/